.skills {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-start;
  align-items: stretch;

  /* background-color: rgba(0, 0, 0, 0); */
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  flex-basis: 25%; /* was 33 */
  padding: 20px 20px; /* was 2% 4% */
  min-width: 250px;

  margin: 20px;

  /* 
   * Override fluid typography font scaling, otherwise
   * the text is too small on phones!
   */
  font-size: 16px;
}

.icon {
  font-size: 2em;
  color: var(--teal);
}

.cardTitle {
  padding-top: 5%;
  font-size: 1.2em;
  font-weight: 700;
}

.cardText {
  padding-top: 1%;
}

